.our-portfolio {
  @include adaptive-value("padding-bottom", 75, 30, 1);
  &__title {
  }

  &__filter {
    margin-top: 45px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    padding: 15px 40px;
    @include adaptive-value("margin-top", 90, 40, 1);
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    background: $secondAccentColor;
    box-shadow: 0px 4px 12px rgba($secondAccentColor, 40%);
    border-radius: 10px;
    transition: $standartTrans;
    &:hover {
      background: darken($secondAccentColor, 10%);
      box-shadow: 0px 4px 20px rgba($secondAccentColor, 60%);
    }
  }
}

.portfolio-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__actions {
    margin-bottom: 25px;
    display: flex;
    @media (max-width: 520.98px) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__btn {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    @include adaptiv-font(18, 15);
    line-height: 22px;
    color: #011627;
    padding: 5px 0;
    background: transparent;
    &:not(:last-child) {
      @include adaptive-value("margin-right", 50, 5, 1);
    }
    transition: $standartTrans;
    border-bottom: 2px solid transparent;
    &:hover {
      color: $firstAccentColor;
    }
    &.active {
      color: $firstAccentColor;
      border-bottom: 2px solid $firstAccentColor;
    }
  }

  &__content {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    @media (max-width: 1170.98px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 765.98px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__item {
    transition: all 550ms ease-in-out;
    &.hide {
      transform: scale(0);
      visibility: hidden;
      opacity: 0;
    }
    &:hover {
      & .portfolio-filter__img {
        box-shadow: $hoverBoxShadow;
      }
    }
  }
  &__img {
    position: relative;
    width: 360px;
    height: 270px;
    border: 0.5px solid #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: $lightBoxShadow;
    @media (max-width: 430.98px) {
      @include adaptive-value("width", 360, 280, 1);
      @include adaptive-value("height", 270, 200, 1);
    }
    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
