.our-work {
  @include adaptive-value("padding-top", 80, 30, 2);
  @include adaptive-value("padding-bottom", 80, 30, 2);
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 94px;
    @include adaptive-value("margin-top", 74, 30, 2);
    @media (max-width: 1092.98px) {
      flex-direction: column;
    }
  }
  &__title {
    @include adaptive-value("margin-bottom", 30, 10, 2);
  }
}

.img-brands {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #fffbfb;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
}

.text-body {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 60px;
  @media (max-width: 1092.98px) {
    padding-top: 0;
    margin-bottom: 60px;
  }
  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: $fontColor;
    text-transform: uppercase;
    @include adaptive-value("margin-bottom", 30, 18, 2);
  }
  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: $fontColor;
    @include adaptive-value("margin-bottom", 45, 18, 2);
  }
  &__list {
    display: flex;
    flex-direction: column;
    @include adaptive-value("margin-bottom", 45, 18, 2);
  }
  &__item {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    padding-left: 25px;
    &:not(:last-child) {
      @include adaptive-value("margin-bottom", 30, 12, 2);
    }
    &:hover {
      &::after,
      &::before {
        border-color: $secondAccentColor;
      }
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-color: transparent;
      border: 2px solid $firstAccentColor;
      border-radius: 50%;
      transition: $standartTrans;
    }
    &::after {
      width: 14px;
      height: 14px;
    }
    &::before {
      left: 4px;
      width: 6px;
      height: 6px;
    }
  }
  &__total {
    @include adaptive-value("margin-bottom", 45, 12, 2);
  }
  &__btn {
    padding: 18px 35px;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    background: $secondAccentColor;
    box-shadow: 0px 4px 12px rgba(46, 196, 182, 50%);
    transition: $standartTrans;
    &:hover {
      background: #1c9c8f;
      box-shadow: 0px 4px 20px rgba(46, 196, 182, 60%);
    }
    @media (max-width: 498.98px) {
      margin: 0 auto;
    }
  }
}

.total-number {
  display: flex;
  @media (max-width: 498.98px) {
    margin: 25px auto;
  }
  &__item {
    &:not(:last-child) {
      @include adaptive-value("margin-right", 40, 15, 2);
    }
    @media (max-width: 498.98px) {
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    @include adaptive-value("margin-bottom", 8, 2, 2);
    &_red {
      color: $firstAccentColor;
    }
    &_sky {
      color: $secondAccentColor;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

.notes {
  display: flex;
  flex-direction: row;
  @media (max-width: 498.98px) {
    flex-direction: column;
    justify-content: center;
  }
  &__column {
    display: flex;
    flex-direction: column;
    &:nth-child(2) {
      margin-top: 100px;
      @media (max-width: 498.98px) {
        margin-top: 40px;
      }
    }
    &:not(:last-child) {
      margin-right: 25px;
      @media (max-width: 498.98px) {
        margin-right: 0;
      }
    }
    @media (max-width: 498.98px) {
      align-items: center;
    }
  }
  &__card {
    max-width: 270px;
    max-height: 335px;
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    border-radius: 25px;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 5%);
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &_red {
      position: relative;
      background-color: #fff;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 101%;
        height: 101%;
        border-radius: 27px;
        background: linear-gradient(180deg, #e71d3690 30%, #fff 95%);
        z-index: -1;
      }
      & .notes__img-wrapper {
        background-color: #ffecea;
      }
    }
    &_sky {
      position: relative;
      background-color: #f7fffe;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 101%;
        height: 101%;
        border-radius: 27px;
        background: linear-gradient(180deg, #2EC4B699 30%, #fff 95%);
        z-index: -1;
      }
      & .notes__img-wrapper {
        background-color: #d2fffb;
      }
    }
  }
  &__img-wrapper {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 13px;
  }
  &__img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    & img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: $fontColor;
    margin-bottom: 10px;
  }
  &__descriptions {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: $fontColor;
    margin-bottom: 20px;
  }
  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ff1d03;
    &:hover {
      text-decoration: underline;
    }
  }
}
