.our-posts {
  @include adaptive-value("padding-bottom", 65, 30, 1);
  &__title {
    @include adaptive-value("margin-bottom", 30, 15, 1);
  }
}
.posts-swiper {
  max-width: 100%;
  &__btn-control {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 31px;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #e71d36;
    box-shadow: 0px 4px 6px rgb(231 29 54 / 30%);
    border: 1px solid #e71d36;
    border-radius: 6px;
    cursor: pointer;
    transition: all 280ms ease 0ms;
    &:hover {
      background-color: #fff;
      & .posts-swiper__btn_svg path {
        stroke: $firstAccentColor;
      }
    }
    &_prev {
      transform: rotate(180deg);
      margin-right: 17px;
    }
    &_next {
      & svg {
        position: relative;
        left: 1px;
      }
    }
  }
}
.post-item {
  padding: 2px;
  border-radius: 23px;
  overflow: hidden;
  &_red {
    background: linear-gradient(-90deg, rgb(#e71d36, 100%) 27%, rgba(#000, 0%) 100%);
  }
  &_green {
    background: linear-gradient(-90deg, rgb(#2ec4b6, 100%) 27%, rgba(#000, 0%) 100%);
  }
  &__container {
    display: flex;
    padding: 10px 9px 14px 9px;
    border-radius: 20px;
    &_red {
      background: #fff8f8;
    }
    &_green {
      background: #f8fffe;
    }
  }
  &__img {
    position: relative;
    width: 200px;
    height: 240px;
    background: #eee;
    border-radius: 12px;
    overflow: hidden;
    @media (max-width: 1050.98px) {
      @include adaptive-value("height", 240, 160, 1);
    }
    &_red {
      box-shadow: 0 4px #e71d36;
    }
    &_green {
      box-shadow: 0 4px #2ec4b6;
    }
    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    @include adaptive-value("padding-left", 28, 15, 1);
    @media (max-width: 1050.98px) {
      max-width: 600px;
    }
  }
  &__date {
    font-weight: 400;
    @include adaptiv-font(12, 9);
    line-height: 15px;
    color: $fontColor;
    @include adaptive-value("margin-bottom", 14, 5, 1);
  }
  &__title {
    font-weight: 500;
    font-size: 26px;
    @include adaptiv-font(26, 16);
    @include adaptive-value("line-height", 31, 26, 1);
    color: $fontColor;
    @include adaptive-value("margin-bottom", 25, 8, 1);
  }
  &__description {
    font-weight: 400;
    @include adaptiv-font(18, 10);
    @include adaptive-value("line-height", 22, 18, 1);
    letter-spacing: 0.02em;
    color: $fontColor;
    @include adaptive-value("margin-bottom", 24, 5, 1);
  }
  &__btn {
    display: flex;
    align-items: center;
    font-weight: 400;
    @include adaptiv-font(18, 12);
    line-height: 22px;
    letter-spacing: 0.02em;
    opacity: 0.6;
    transition: $standartTrans;
    &:hover {
      opacity: 1;
    }
    & span {
      padding-right: 13px;
    }
    &_red {
      color: $firstAccentColor;
      & svg {
        & path {
          stroke: $firstAccentColor;
        }
      }
    }
    &_green {
      color: $secondAccentColor;
      & svg {
        & path {
          stroke: $secondAccentColor;
        }
      }
    }
  }
}
