::-webkit-scrollbar {
  width: 12px;
  background-color: $white-color;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $firstAccentColor;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}
/*------------------------------------------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.page {
  flex: 1 1 auto;
}
[class*="__container"] {
  max-width: 1140px + $mainOffset * 2;
  margin: 0 auto;
  padding: 0 $mainOffset;
}
.title {
  text-align: center;
  font-weight: 700;
  @include adaptiv-font(45, 30);
  @include adaptive-value("line-height", 54, 35, 2);
  letter-spacing: 0.02em;
  text-shadow: 1px 1px 6px rgba(#000, 10%);
  color: #011627;
}
