$mainOffset: 30px;

$main-font: 'Inter', sans-serif;
$small-fz: 14px;
$medium-fz: 18px;
$sub-large-fz: 24px;
$large-fz: 36px;
$white-color: rgb(248, 248, 248);
$firstAccentColor: #E71D36;
$secondAccentColor: #2EC4B6;
$fontColor: #011627;
$main-bg: #2c3d49;
$main-bg-hover: #28485f;
$first-gradient-normal: linear-gradient(345deg, rgb(63, 124, 29) 0%, rgb(115, 185, 77) 100%);
$first-gradient-hover: linear-gradient(345deg, rgb(51, 102, 23) 0%, rgb(96, 177, 53) 100%);
$lightBoxShadow:  0 0 2px 0 rgba(0, 0, 0, 0.2), 
                    0 0 5px 0 rgba(0, 0, 0, 0.2), 
                    0 0 10px 0 rgba(0, 0, 0, 0.2);
$focusBoxShadow:  0 0 5px 0 rgba(115, 185, 77, 0.3), 
                    0 0 8px 0 rgba(115, 185, 77, 0.3),
                    0 0 15px 0 rgba(115, 185, 77, 0.3);
$hoverBoxShadow:  0 0 5px 0 rgba(0, 0, 0, 0.3), 
                    0 0 10px 0 rgba(0, 0, 0, 0.3), 
                    0 0 15px 0 rgba(0, 0, 0, 0.3);
$standartTrans: all 280ms ease 0ms;
$main-radius: 5px;

.first-accent-color {
  color: $firstAccentColor;
}

.second-accent-color {
  color: $secondAccentColor;
}